h1{
    text-align: center;
    color: rgb(57, 56, 58);
}
#block1{
    width: 50%;
    margin: auto;
    background-color: rgb(68, 59, 59);
    border: solid rgb(57, 56, 58);
    border-radius: 6px;
    
}
#eventhead{
    color: aliceblue;
}
form{
    margin: auto;
    margin-bottom: 20px;
}
input,label{
        text-align: center;
        margin-left: 38%;
        
}
.submit{
    margin-left: 48%;
}
li{
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    list-style: none;
}
.msg{
    text-align: center;
    color: rgb(243, 26, 26);
}